:root {
    --myrtle-green: #297373ff;
    --coral: #ff8552ff;
    --arylide-yellow: #e9d758ff;
    --cherry-blossom-pink: #ffafc5ff;
    --eggplant: #553e4eff;
    --tufts-blue: #228cdbff;
    --jet: #39393aff;
    --hollywood-cerise: #e0479eff;
    --lemon-chiffon: #faf0caff;
    --platinum: #e6e6e6ff;
}

body {
    font-family: 'Arial', sans-serif;
}
  
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
  
button {
    background-color: var(--myrtle-green);
    border: none;
    color: var(--platinum);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
  
ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    padding: 8px 16px;
    border-bottom: 1px solid var(--jet);
}


.classlist li:last-child {
    border-bottom: none;
}
.classlist li:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit; 
}


.devs {
    font-weight: bold;
    color: var(--platinum);
    font-size: 16px;
}

.devs:hover{
    background-color: var(--myrtle-green);
    cursor: pointer;
}

.all-students:hover {
    background-color: lightgray;
}

.Winter2025:hover {
    background-color: var(--myrtle-green);
    color: var(--platinum);
}

.Spring2025:hover {
    background-color: var(--arylide-yellow);
}

.Summer2025:hover {
    background-color: var(--cherry-blossom-pink);
}

.Fall2025:hover {
    background-color: maroon;
    color: white;
}

.Winter2026:hover {
    background-color: var(--tufts-blue);
}

.Spring2026:hover{
    background-color: var(--lemon-chiffon);
}

.Summer2026:hover{
    background-color: var(--hollywood-cerise);
    color: white;
}

.Fall2026:hover{
    background-color: var(--eggplant);
    color: var(--platinum);
}

@media screen and (max-device-width: 480px){
    .classlist li {
        font-size: large;
    }
  }