.Progress-notes {
  display: grid;
  grid-template-columns: 1fr; /* Only one column */
  grid-template-areas: 
    "student-list"
    "grades-notes"; /* Combined grid area for grades and notes */
  gap: 20px;
  padding-left: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px #00000066;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.student {
  grid-area: student-list;
  background: white;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
}

.grades {
  background-color: white; 
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.notes {
  background-color: white; 
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.grades-notes {
  grid-area: grades-notes; /* Assign the combined area to grades and notes */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for grades and notes */
  gap: 20px;
}

textarea,
input,
.form button {
  width: 220px;
}

input {
  margin-bottom: 5px;
}



.grades h2,
.notes h2 {
  color: var(--jet);
}


:root {
  --arylide-yellow: #e9d758ff;
  --myrtle-green: #297373ff;
  --coral: #ff8552ff;
  --platinum: #e6e6e6ff;
  --jet: #39393aff;
}