article {
    display: grid;
    grid-template-columns: auto;
}

.student {
    grid-template-areas: 
        "img details"
        ". details";
    margin-bottom: 2%;
    align-items: center;
}

img {
    grid-area: img;
}

.details {
    grid-area: details;
    padding-left: 5%;
}