.Progress-notes {
  display: grid;
  grid-template-columns: 1fr; /* Only one column */
  grid-template-areas: 
    "student-list"
    "grades-notes"; /* Combined grid area for grades and notes */
  gap: 20px;
  padding-left: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px #00000066;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
}

.student {
  grid-area: student-list;
  background: white;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
}

.grades {
  background-color: white; 
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.notes {
  background-color: white; 
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.grades-notes {
  grid-area: grades-notes; /* Assign the combined area to grades and notes */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for grades and notes */
  gap: 20px;
}