:root {
    --arylide-yellow: #e9d758ff;
    --myrtle-green: #297373ff;
    --coral: #ff8552ff;
    --platinum: #e6e6e6ff;
    --jet: #39393aff;
}

.developers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px; 
    margin: 0 auto;
    color: var(--jet);
}


img {
    height: 250px;
    width: 250px;
    border-radius: 50%; 
    border: 3px solid var(--platinum); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.developers li {
    list-style: none;
    border: 1px solid var(--platinum); 
    padding: 15px;
    background-color: var(--platinum); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    border-radius: 20px;
}

.developers a {
    text-decoration: none;
    color: var(--myrtle-green);
    margin-top: 10px;
}


h1 {
    color: var(--platinum); 
    text-align: center;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.developers h2 {
    color: var(--myrtle-green);
}

